.about-me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.a-highlight{
     display: inline-block;
  text-decoration: none;
}

.about-me-parent{
    max-width: 1000px;
    width: 70%;
}

.about-me-card {
    display: flex;
    width: 100%;
    box-shadow: 0 0px 20px -2px #1f2235;
}

.about-me-profile{
    width: 50%;
    background-image: url(../../assets/aboutme/img-lokosman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me-details{
    width: 48%;
    text-align: justify;
    padding: 30px;
}

.about-me-description{
    font-size: 12px;
}

.about-me-highlights{
    margin: 80px 0;
}

.highlight-heading{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.highlight{
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.6;
}

.highlight-blob{
    height: 12px;
    width: 20px;
    margin: 0 10px 0 0;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center; /* vertically align the span text inside .highlight-blob */
    justify-content: center; /* center the span text horizontally */
}


.highlight-blob::before {
    content: "";
    height: 12px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


.highlight span {
    display: inline-block;
    vertical-align:text-top;
    margin: 0;
    padding: 2px;
}



.about-me-options .highlighted-btn{
    margin: 0 0 0 30px;
}

.about-me-options {
  display: flex;
  justify-content: space-between;
}

/* ** IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1110px){
    .about-me-parent{
        width: 88%;
    }
}

@media only screen and (max-width: 898px){
    .about-me-profile{
        display: none;
    }

    .about-me-details{
        width: 100%;
    }
}

@media only screen and (max-width: 466px){
    .about-me-options{
        display: flex;
        flex-direction: column;
    }
    .about-me-options .highlighted-btn{
        margin: 24px 0 0 0 !important;
    }

    .about-me-options button{
        width: 100%;
    }
}